

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header style start */
header{
width: 100%;
height: 550px;
left: 0;
right: 0;
top: 0;
display: flex;
justify-content: space-between;
align-items: center;
background: rgba(229, 84, 115, 0.1);
margin-bottom:100px ;
}
.head-text{
margin-left:150px ;
}
.head-text h1{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 60px;
font-weight: 800;
line-height: 55px;
letter-spacing: 0%;
text-align: left;
}
.head-text p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}
.head-text button{
padding: 12px 25px;
border-radius: 6px;
margin-top: 12px;
border:none ;
color:rgb(255, 255, 255) ;
background: rgb(229, 84, 115);
font-size:18px ;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.head-text button:hover{
    background-color: brown;
}

/* header img style */

.head-img img{
    margin-right: 150px;
    height:500px;
    margin-top:50px ;
    opacity: 0.5;
}
.head-img img:hover{
    opacity:1 ;
}
/* Featured-Flowers style */
.Featured-Flowers{
    justify-content: center;
    align-self: center;
    text-align: center;
}
.Featured-Flowers h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    margin-bottom: 15px;
}
.Featured-Flowers p{
    font-size: 18px;
    color:rgba(39, 39, 39, 0.6);
    letter-spacing: 0%;
    font-weight: 400;
}
/* Featured-img-style */
.Featured-img{
 display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
margin-top:50px ;
}
.Featured-img .img-1{
width: 350px;
height: 400px;
margin-left:40px ;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.Featured-img .img-1 img{
    height: 300px;
    width:250px ;
    margin-top:100px ;
}
.Featured-img .img-2{
    width: 350px;
    height: 400px;
    margin-left:0px ;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    }
    .Featured-img .img-2 img{
        height: 300px;
        width:250px ;
        margin-top:100px ;
    }

    .Featured-img .img-3{
        width: 350px;
        height: 400px;
        margin-left:0px ;
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
        }
        .Featured-img .img-3 img{
            height: 300px;
            width:250px ;
            margin-top:100px ;
        }
   .section-p{
    display: flex;
    align-items: center;
    justify-content: space-around;

   }
   .section-p p{
    color: black;
    font-size: 22px;
    font-weight: 600;
    transition-duration: initial;
    border-bottom:1px solid black ;
   }

/* Deliver-section-style */
.Deliver-section{
    width: 1100px;
    height: 250px;
    display: flex;
    margin: 0 auto;
    margin-top:120px ;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom:100px ;
}
 


.img-div1 {
    margin-left: 0;
    margin-right:70px ;
    text-align: center;
    padding: 20px;
}
.img-div1 p{
    margin-top:15px ;
    font-weight: 600;
}

.img-div2 p{
    margin-top:15px ;
    font-weight: 600;
}
.img-div3 p{
    margin-top:15px ;
    font-weight: 600;
}

.img-div2{
    text-align: center;
}
.img-div3{
    margin-right: 0;
    margin-left:70px ;
    text-align: center;
}

/* hotdel-section style */

.hotdel-section{
    max-width:100% ;
    height:520px;
    margin-bottom:100px ;
    background-color:#E554730D;
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.hotdel-img img{
    width: 300px;
    height:350px ;
    margin: auto;
    margin-bottom:20px ;
    margin-right:200px ;
}
.hotdel-text{
    margin-left: 200px;
    line-height: 30px;
}
.hotdel-text h1{
    font-size: 35px;
    font-weight:800 ;
    color:#272727 ;
    margin-bottom:50px ;
}
.hotdel-text h1 span{
    font-size: 35px;
    font-weight:800 ;
    color:#E55473;
}
.hotdel-text p{
    margin-top:20px ;
    font-size: 18px;
    color: #272727;
}

/* button style */
.hotdel-text button{
    margin-left: 180px;
    margin-top:20px ;
    background-color: #E55473;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* instagram section style */
  
  .Instagram-head{
    text-align: center;
    margin: auto;
  }
  .Instagram-head h1{
    font-size:40px ;
    font-weight: 800;
    letter-spacing: 0;
    color: #272727;
  }
  .Instagram-head p{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 15px;
    color: #272727;
    padding: 5px;
    line-height:30px ;
  }

  /* Instagram-img-section-style */
.Instagram-img{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    margin-left: 25px;
    margin-right:40px ;
}


  .Instagram-img img{
    height:250px ;
    width: 240px;
    margin-left:55px ;
    margin-top: 35px;
    border-radius:5px ;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  /* Latest-Deals-section-style */

  .Latest-Deals-section{
    width: 1135px;
    height:350px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:80px ;
    margin-right:15px ;
    background-image: url('img/Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:100px ;
  }


  .Latest-Deals-section h1{
    font-weight: 700;
    font-size:35px ;
    color: #272727;
    letter-spacing:0 ;
    text-align: center;
  }
.Latest-Deals-section p{
    font-size: 18px;
    font-weight: 400;
    margin-top:15px ;
    text-align: center;
}

.Latest-Deals-section input{
    width: 430px;
    height:45px ;
    margin-top:20px ;
    color: #FFFFFF;
    border: none;
    border-radius:6px ;
    padding:15px ;
} 
.Latest-Deals-section button{
    width:130px ;
    height:45px ;
    margin-top:20px ;
    color: #FFFFFF;
    border: none;
    border-radius:6px ;
    background-color:#E55473 ;
    font-size:20px ;
    font-weight: 700;
    padding:10px ;
    margin-left:15px ;
} 

/* footer-section-style */

.footer-section{
    width:1300px ;
    height:300px ;
    background-color: #111010;
    margin-top:80px ;
    margin-bottom:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div{
    text-align: center;
    margin-bottom: 50px;
}
.footer-div h2{
    font-weight: 700;
    font-size:40px ;
    letter-spacing: 0;
    margin-bottom:5px ;
    color:#ffffff ;
    margin-top:50px ;
}

.footer-div h2 span{
    font-weight: 700;
    font-size:40px ;
    letter-spacing: 0;
    margin-bottom:5px ;
    color:#E55473 ;
    margin-top: 50px;
}
.footer-div .p01{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-top:20px ;
}
.footer-div .p02{
    font-size: 16px;
    color:#FFFFFF66 ;
    margin-top:20px ;
}

